<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="常比他人，方知前路，静思己过，三省吾身">

  {% block head %}
  {% end %}

  {% block title %}
  <title>Demo Server</title>
  {% end %}

  <link rel="stylesheet" href="{{ static_url('css/pure-min.css') }}">
  {% block css %}
  {% end %}

  {% block head_js %}
  {% end %}
</head>
<body>

<header>
  {% include 'module/header.html' %}
</header>

<section class="main" style="padding-top: 4em">
  <div class="left"></div>
  <div class="content">
    {% block content %}
    {% end %}
  </div>
  <div class="right"></div>
</section>

<footer>
  {% include 'module/footer.html' %}
</footer>

</body>
{% block foot_js %}
{% end %}
</html>
