<nav class="pure-menu-fixed pure-menu-horizontal pure-g" style="border-bottom: silver 1px solid; padding: .5em; background-color: white">
  <a href="#" class="pure-menu-heading pure-menu-link pure-u-1-5">Demo Server</a>
  <ul class="pure-menu-list pure-u-3-5">
    <li class="pure-menu-item"><a href="{{ reverse_url('index') }}" class="pure-menu-link">Index</a></li>
    <li class="pure-menu-item"><a href="{{ reverse_url('index_json') }}" class="pure-menu-link">Json</a></li>
  </ul>
  <div class="pure-u-1-6"><a href="#" class="pure-button pure-button-primary" style="float: right">登录</a></div>
</nav>